#myCanvas{
    border: black solid 1.5px;
    background-color: rgb(255, 255, 255);
}
body {
 background-color:rgb(171, 171, 171);
}
h1 {
    position: relative;
    margin-left: 650px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}